.background-section {
  position: relative;
  background-image: url('../images/333.png'); /* استبدل بمسار صورتك */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: auto;
  overflow: auto;
  padding-block: 50px;
  position: relative;
  z-index: 1;
}



.titleexit {
  color: #121f3e;
  font-family: "Tajawal";
  font-weight: 700;
  font-size: 25px;
}
.iconwhy {
  font-size: 20px;
  color: white !important;
  margin-right: 5px;
  margin-bottom: 2px;
}
.btnwe {
  background: linear-gradient(135deg, #1594ca, #15435a);
  color: #fff;
  font-family: 'Cairo', sans-serif; /* تأكد من إضافة نوع الخط كايرو */
  font-weight: 800;
}
.btnwe:hover{
  color: #fff;
}
